html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  background: rgb(240, 168, 208);
  background: linear-gradient(90deg, rgba(240, 168, 208, 1) 35%, rgba(255, 198, 198, 1) 100%);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 400px;
  text-align: center;
}

main {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#content {
  flex: 1 1 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

#qrcode {
  width: 150px;
}

#logo {
  width: 200px;
}

#contact {
  background: rgb(255, 235, 212);
  background: linear-gradient(90deg, rgba(255, 235, 212, 1) 66%, rgba(255, 246, 212, 1) 100%);
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact h3 {
  font-size: medium;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

img.background {
  position: absolute;
  z-index: -1;
  filter: opacity(0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
